:root {
  --main-lblue: #c3e2ed;
  --main-dgray: #2c2c2c;
  --main-owhite: #e8e8e8;
  --light-gray: #fffbee;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-owhite);
}

.container-fullwidth {
  width: 100%;
  margin-right: 0px;
  margin-left: auto;
}

nav, .dropdown-menu {
  background-color: var(--main-dgray);
  color: var(--light-gray);
}

.drop-menu2 {
  border-collapse: collapse;
  border-width: 1px;
  border-color: var(--main-dgray) !important;
  background-color: var(--light-gray);
  margin-right: 5rem;
  
}

h1, h2, h3 {
  margin-top: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.search-bar {
  border-color: var(--main-dgray);
}

thead > tr   {
  background-color: #c3e2ed;
  border-collapse: collapse;
  border: 3px solid var(--main-dgray);
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: var();
}

.table-striped > tbody > tr:nth-child(2n+2) > td, .table-striped > tbody > tr:nth-child(2n+2) > th {
  background-color: var(--light-gray);
}

table, tr {
    border-collapse: collapse;
    border: 2px solid var(--main-dgray);
}

 tr, td {
   text-align: center;
 }

 .ul2 {
   list-style-type: none;
   display: inline-flex;
   float: right;
 }

 .page {
   margin-right: 1rem;
 }

  button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 2px;
  }

  .button1 {
    border-collapse: collapse;
    border-width: 1.75px;
    border-color: var(--main-dgray) !important;
    background-color: var(--main-lblue) !important;
    padding: 5px;
  }

  .button2 {
    width: 50%;
    border-collapse: collapse;
    border-width: 1.75px;
    padding: 5px;
    margin: auto;
  }

  svg {
    color: var(--main-dgray);
  }

  .image {
    background-color: var(--main-owhite);
    display: flex;
    float: right;
    height:8rem;
    width:20rem;
    margin-top: -8.5rem;
    margin-bottom: 2rem;
    border-radius: 25px;
  }

  .form2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  footer {
    margin-top: 3rem;
    display: block;
    text-align: center;
  }
