:root {
  --main-lblue: #c3e2ed;
  --main-dgray: #2c2c2c;
  --main-owhite: #e8e8e8;
  --light-gray: #fffbee;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--main-owhite);
}


.container-fullwidth {
  width: 100%;
  margin-right: 0px;
  margin-left: auto;
}

nav, .dropdown-menu {
  background-color: var(--main-dgray);
  color: var(--light-gray);
}
  

h1, h2 {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: 2rem;
}

.image {
  background-color: var(--main-owhite);
  display: flex;
  float: right;
  height:8rem;
  width:20rem;
  margin-top: -13.5rem;
  margin-right: 4rem;

  border-radius: 25px;
}
.container-fullwidth {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.grid {
  background-size: cover;

  /* Grid styles */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

thead > tr   {
  background-color: #c3e2ed;
  border-collapse: collapse;
  border: 3px solid var(--main-dgray);
}

table, tr {
    border-collapse: collapse;
    border: 2px solid var(--main-dgray);
    empty-cells: show; 
}

table tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: var();
}

table tr:nth-child(2n+2) > td, .table-striped > tbody > tr:nth-child(2n+2) > th {
  background-color: var(--light-gray);
}

.cal:nth-child(n+1):nth-child(-n+7) {
  font-weight: 900;
  color: var(--main-dgray);
}

.cal:hover:nth-child(n+1):nth-child(-n+7) {
  border-radius: 5px;
  background-color: var(--main-lblue);
  color: #ecf0f1;
}

 tr, td {
   text-align: center;
 }


 .button2 {
   color: var(--main-lblue);
   float: right;
   color: var(--main-owhite);
   border-color: var(--main-dgray) !important;
   background-color: var(--main-dgray) !important;
 }

footer {
  margin-top: 3rem;
  display: block;
  text-align: center;
}

.touched {
  color: var(--main-lblue)
}


